#about .about-img {
    background: url('../images/about-img.jpg') no-repeat;
}

#about .about-thumb,
#about .skill-thumb {
    padding: 22px 32px 32px 32px;
}

#about .progress {
    background: #ffffff;
    border-radius: 0px;
    box-shadow: none;
    height: 2px;
}

#about .progress-bar-primary {
    background: #232B2B;
}

#about strong,
#about span {
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
}

#home .svg-1 {
    background: url('../images/svg-4.svg') no-repeat;
    background-size: cover;
    background-position: 60% 80%;
    width: 300%;
    overflow-x: hidden;
    height: 60vh;
}