body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-weight: 300;
}

h1 {
    font-size: 42px;
    padding-bottom: 14px;
    margin-bottom: 0px;
}

h2 {
    font-size: 42px;
    line-height: 52px;
    margin-top: 0px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    padding-bottom: 6px;
}

h4 {
    color: #999;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 6px;
}

h5 {
    color: #666666;
}

strong {
    color: #232B2B;
    font-weight: normal;
}

p {
    color: #888;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.section-btn {
    background-color: transparent;
    border: 3px solid #232B2B;
    border-radius: 100px;
    color: #232B2B;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.6px;
    padding: 12px 36px;
    margin-top: 42px;
    transition: all 0.4s ease-in-out;
    text-transform: uppercase;
}

.section-btn:hover {
    background: #E3AE57;
    border-color: transparent;
    color: #ffffff;
}

.btn-success:focus {
    background-color: #000;
    border-color: transparent;
}

.parallax-section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

.section-title {
    position: relative;
    padding-bottom: 22px;
}

#about,
#service,
#experience,
#education,
#contact {
    position: relative;
}

#home .container,
#about .container,
#experience .container,
#service .container,
#education .container,
#contact .container {
    width: 100%;
    padding: 0;
    margin: 0;
}

#experience .experience-thumb,
#education .education-thumb {
    padding: 22px 42px 42px 42px;
}

#service,
#quotes,
footer {
    text-align: center;
}

#experience,
#education {
    background: #E9724C;
}

.background-image {
    background-position: 50% 50% !important;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    min-height: 75vh;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color-white {
    color: #ffffff;
}

.color-yellow {
    color: #E3AE57;
}

.bg-yellow {
    background: #E3AE57;
}

.bg-white {
    background: #ffffff;
}

.bg-dark {
    background: #161616;
}
html {
    -webkit-font-smoothing: antialiased;
}

a {
    color: #E3AE57;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
    color: #E3AE57;
    outline: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
